nav>ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 100%;
    background: white;
    margin: 0px;
    top: 0;
    height: 50px;
}
body {
    margin-top: 65px;
}
.tabla {
    background-color: lightgreen;
    height: 7cm;
    width: 10cm;
    text-align: center;
    padding: 1cm;
    display: flex;
    border: solid chocolate 0.5cm;
    margin: 2cm 7cm;
    font-size: medium;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: baseline;
}
#preguntas-frecuentes {
    padding: 40px;
    background: #cf73cf9c;
    margin: 30px;
    width: auto;
}
h1 {
    font-family: cursive;
    color: #c237c2;
    display: flex;
    justify-content: space-around;
}
section.imagenizquierda {
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: center;
}
section.imagenderecha {
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: space-around;
    align-items: flex-start;
}
.h2 {
    color: coral;
    position: relative;
    display: flex
;
    align-content: stretch;
    justify-content: space-evenly;
}
.bloque.texto {
    padding: 25px;
    width: fit-content;
    height: fit-content;
    font-family: math;
    font-size: medium;
}
div.bloque.texto.largo {
    text-align: justify;
    margin: 15px;
    font-size: 20px;
}
.herencias>p {
    text-align: center;
}
.herencias p {
    font-size: 20px;
    width: 100vw;
}
.imagenfondo {
    height: 800px;
    width: 1200px;
    background-image: url(/imagenes/perritos.jpg);
    margin: auto;
    background-attachment: fixed;
    background-size: 600px;
}
.imagenfondonorepeat {
    height: 500px;
    width: 1200px;
    background-image: url(/imagenes/carrito.png);
    background-repeat: no-repeat;
    background-position: center;
}
a[href^="https:"] {
    color: fuchsia;
    padding-right: 20px;
    padding-left: 5px;
    background-image: url(/imagenes/carrito.png);
    z-index: 3;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position-x: right;
}
.bloquecito {
    margin: 60px;
    width: 1500px;
    background-color: coral;
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    font-size: 30px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
}
.container {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    gap: 20px; 
}

h2.bloqueprecios { 
    width: 120px;
    height: 100px;
    padding: 50px;
    background-color: coral;
    text-align: center; 
}