RewriteEngine ON
RewriteCond %{HTTP_USER_AGENT} ^.*(INVENTADO|SEMRUSHBOT-BA|SEMRUSHBOT-SI|CHATGPT-USER|SCREAMING.*FROG.*SEO.*SPIDER).*$ [NC]
# Para bloquear el acesso a una URL en concreto
# RewriteCond %{REQUEST_URI} ^/sobre-mi [NC]
RewriteRule ^.*$ - [F,L]
ErrorDocument 401 '<h1>La contraseña no es correcta</h1>'
ErrorDocument 403 '<!DOCTYPE html><html lang="es"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="initial-scale=1, maximum-scale=6"><title>403 Acceso no permitido</title><style>html{height:100%;background:#FAF7FB;display:flex;align-items:flex-start;justify-content:space-around}p{font-size:20px}</style></head><body><h1 style="font-size:40px;color:#8D096B;">Error 403 Acceso no permitido</h1><p>Est&aacute;s siendo bloqueado para esta p&aacute;gina, mala suerte.</p></body></html>'

<Files sitemap-lan.xml>
  order deny,allow
  deny from all
  allow from 5.169.42.126
</Files>

<If "%{HTTP_HOST} == 'master-mari-angeles-estepa.test'">
<IfModule mod_authn_file.c>
AuthUserFile C:/Users\maest\Documents\Github\master-mari-angeles-estepa\pass\.htpasswd
AuthName "Iniciar sesión requerido"
AuthType Basic
Require valid-user
</IfModule>
</If>

<IfModule mod_brotli.c>
AddType x-font/woff .woff
AddType x-font/ttf .ttf
AddOutputFilterByType BROTLI_COMPRESS image/svg+xml
AddOutputFilterByType BROTLI_COMPRESS image/x-icon
AddOutputFilterByType BROTLI_COMPRESS text/plain
AddOutputFilterByType BROTLI_COMPRESS text/html
AddOutputFilterByType BROTLI_COMPRESS text/css
AddOutputFilterByType BROTLI_COMPRESS application/pdf
AddOutputFilterByType BROTLI_COMPRESS text/javascript
AddOutputFilterByType BROTLI_COMPRESS application/xml
AddOutputFilterByType BROTLI_COMPRESS application/xhtml+xml
AddOutputFilterByType BROTLI_COMPRESS application/rss+xml
AddOutputFilterByType BROTLI_COMPRESS application/javascript
AddOutputFilterByType BROTLI_COMPRESS application/x-javascript
AddOutputFilterByType BROTLI_COMPRESS application/x-font-ttf
AddOutputFilterByType BROTLI_COMPRESS application/vnd.ms-fontobject
AddOutputFilterByType BROTLI_COMPRESS font/opentype font/ttf font/eot font/otf
AddOutputFilterByType BROTLI_COMPRESS font/woff
AddOutputFilterByType BROTLI_COMPRESS font/woff2
</IfModule>

<IfModule mod_rewrite.c>
RewriteCond %{HTTPS} off
RewriteRule (.*) https://master-mari-angeles-estepa.test/$1 [R=301,L,QSA]
</IfModule>

RewriteEngine on
# Rewrite /foo/bar to /foo/bar.php
RewriteRule ^([^.?]+)$ %{REQUEST_URI}.php [L]

# Return 404 if original request is /foo/bar.php
RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$" [NC]
RewriteRule .* - [L,R=404]

<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault "access plus 4 months"
ExpiresByType image/webp "access plus 4 months"
ExpiresByType image/gif "access plus 4 months"
ExpiresByType image/png "access plus 4 months"
ExpiresByType image/jpg "access plus 4 months"
ExpiresByType image/jpeg "access plus 4 months"
ExpiresByType video/mp4 "access plus 4 months"
ExpiresByType image/ico "access plus 11 months"
ExpiresByType image/svg+xml "access plus 4 months"
ExpiresByType text/css "access plus 4 months"
ExpiresByType text/javascript "access plus 4 months"
ExpiresByType application/javascript "access plus 4 months"
ExpiresByType application/x-javascript "access plus 4 months"
ExpiresByType application/font-woff "access plus 1 year"
ExpiresByType application/font-woff2 "access plus 1 year"
</IfModule>

# Indirección estándar
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_URI} !^/ejemplo [NC]
RewriteRule ^indireccion/maria(.*)$ /ejemplo$1 [L]
## Devolver un error 404 para /ejemplo
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/ejemplo [NC]
RewriteRule ^ - [R=404,L]
</IfModule>

<If "%{THE_REQUEST} =~ m# /carpeta#i">
Header set X-Robots-Tag "noindex"
</if>

<If "%{THE_REQUEST} =~ m# /basica#i>
Header set Link "<https://master-mari-angeles-estepa.test/sobre-mi; rel='canonical'"
</if>

<If "%{THE_REQUEST} =~ m# /idiomas#i">
Header set Link "<https://master-mari-angeles-estepa.test/idiomas>; rel='alternate'; hreflang='es', <https://master-mari-angeles-estepa.test/en/languages>; rel='alternate'; hreflang='en'"
</If>

<If "%{THE_REQUEST} =~ m# /en/languages#i">
Header set Link "<https://master-mari-angeles-estepa.test/idiomas>; rel='alternate'; hreflang='es', <https://master-mari-angeles-estepa.test/en/languages>; rel='alternate'; hreflang='en'"
</If>


#Redirecciones
# Redirecciona un directorio completo a otro directorio completo 
# RedirectMatch 301 ^/servicios(.*)$ https://master-mari-angeles-estepa.test/productos$1

# RedirectMatch 503 ^/servicios$

# Redirecciona un directorio completo a la raíz de otro directorio 
# RedirectMatch 302 ^/servicios/(.*)$ https://master-mari-angeles-estepa.test/productos/


# NOTE! FOR APACHE ON WINDOWS: Add [NC] to RewriteCond like this:
# RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$" [NC]